In [1]:
# Import necessary libraries

import numpy as np
import numpy_financial as npf
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [23]:
# Create balance sheet dataframe
bs_file = Path("Resources/balance_sheet.xlsx")
balance_sheet = pd.read_excel(bs_file)


# Create income statement dataframe
is_file = Path("Resources/income_statement.xlsx")
income_statement = pd.read_excel(is_file)

   Year  Revenue    COGS  Total Expenses  Interest  Income Taxes  Net Income
0     1   200000  150000           43000       500           150        6350
1     2   200000  150000           43001       501           151        6347
2     3   200000  150000           43002       502           152        6344