In [1]:
# Import necessary libraries

import numpy as np
import numpy_financial as npf
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
# Create balance sheet dataframe
bs_file = Path("Resources/balance_sheet.xlsx")
balance_sheet = pd.read_excel(bs_file, index_col="Year")


# Create income statement dataframe
is_file = Path("Resources/income_statement.xlsx")
income_statement = pd.read_excel(is_file, index_col="Year")

In [3]:
balance_sheet

,Cash,Accounts Receivable,Current Assets,Fixed Assets,Current Liabilities,Long Term Liabilities,Contributed Capital,Owner's Draw,Convertioble Notes,Owner's Equity
Year,,,,,,,,,,
1,205000,50000,40000,20000,73000,15000,10000,7000,10000,200000
2,204152,55000,42000,20000,74000,15500,10000,7000,10000,204652
3,195002,60000,40000,20000,73000,15000,10000,7000,10000,200002

In [4]:
income_statement

      Revenue    COGS  Total Expenses  Interest  Income Taxes  Net Income
Year
1      200000  150000           43000       500           150        6350
2      200000  150000           43001       501           151        6347
3      200000  150000           43002       502           152        6344

In [5]:
# CLean data - check for nulls
print(balance_sheet.isnull().sum())
print(income_statement.isnull().sum())

Cash                     0
Accounts Receivable      0
Current Assets           0
Fixed Assets             0
Current Liabilities      0
Long Term Liabilities    0
Contributed Capital      0
Owner's Draw             0
Convertioble Notes       0
Owner's Equity           0
dtype: int64
Revenue           0
COGS              0
Total Expenses    0
Interest          0
Income Taxes      0
Net Income        0
dtype: int64

In [6]:
# Confirm data types

print(balance_sheet.dtypes)
print(income_statement.dtypes)

Cash                     int64
Accounts Receivable      int64
Current Assets           int64
Fixed Assets             int64
Current Liabilities      int64
Long Term Liabilities    int64
Contributed Capital      int64
Owner's Draw             int64
Convertioble Notes       int64
Owner's Equity           int64
dtype: object
Revenue           int64
COGS              int64
Total Expenses    int64
Interest          int64
Income Taxes      int64
Net Income        int64
dtype: object

In [7]:
balance_sheet

,Cash,Accounts Receivable,Current Assets,Fixed Assets,Current Liabilities,Long Term Liabilities,Contributed Capital,Owner's Draw,Convertioble Notes,Owner's Equity
Year,,,,,,,,,,
1,205000,50000,40000,20000,73000,15000,10000,7000,10000,200000
2,204152,55000,42000,20000,74000,15500,10000,7000,10000,204652
3,195002,60000,40000,20000,73000,15000,10000,7000,10000,200002

In [28]:
#balance_sheet["Cash_new"] = [cash + 100000 for cash in balance_sheet["Cash"]]

# Cash Flows From Operating Activities

columns_operating = ["change_in_AR",
                     "cash_collections",
                     "change_in_inventory",
                     "change_in_current_liabilities",
                     "payments_for_purchases",
                     "total_operating_expenses",
                     "Net_Cash_Flow_From_Operations",
                     ]
operating_cash_flows = pd.DataFrame(columns=columns_operating)



## Cash Collections


# Cash Flows From Investing Activities

columns_investing  = ["change_in_fixed_assets",
                      "net_cash_flow_from_investing"]

investing_cash_flows = pd.DataFrame(columns=columns_investing)



# Cash Flows From Financing Activities

columns_financing = ["change_in_long_term_liabilities",
                     "contributed_capital",
                     "owner's_draw",
                     "net_cash_flow_from_financing"]

financing_cash_flows = pd.DataFrame(columns=columns_financing)


# Cumulative reconciliation

columns_cumulative = ["net_cash_change",
                      "cash_beginning",
                      "cash_end"]

cash_reconciliation = pd.DataFrame(columns=columns_cumulative)

In [9]:
# Conslidate/Aggregate Cash Flow Statement

In [10]:
operating_cash_flows

Empty DataFrame
Columns: [change_in_AR, cash_collections, change_in_inventory, change_in_AP, payments_for_purchases, Net_Cash_Flow_From_Operations]
Index: []

In [11]:
help(np.random.seed(10))

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [21]:
balance_sheet.loc[1]["Accounts Receivable"]

50000

In [13]:
# Testing pandas loop

test_list = []

for i, row in balance_sheet.iterrows():
    #operating_cash_flows["change_in_AR"] = balance_sheet.loc[i]["Accounts Receivable"] - balance_sheet.loc[i-1]["Accounts Receivable"]
    #test_list.append(balance_sheet.loc[i]["Accounts Receivable"] - balance_sheet.loc[i-1]["Accounts Receivable"])
    test_list.append(balance_sheet.loc[i]["Accounts Receivable"])
    print(i, row["Accounts Receivable"])

1 50000
2 55000
3 60000

In [31]:
# Complete 'Operating Cash Flows'

# Calculate change in AR

operating_cash_flows["change_in_AR"] = balance_sheet["Accounts Receivable"].diff()
operating_cash_flows["change_in_AR"]

# This seems to work better than trying to loop through balance sheet dataframe and calculating manually


# Calculate cash collections

for i, row in income_statement.iterrows():
    
    operating_cash_flows["cash_collections"] = row["Revenue"] - operating_cash_flows["change_in_AR"]
    

# Calculate change in inventory

operating_cash_flows["change_in_inventory"] = balance_sheet["Current Assets"].diff()



# Calculate payments for purchases

operating_cash_flows["payments_for_purchases"] = [row["COGS"]+operating_cash_flows["change_in_inventory"][i] for i, row in income_statement.iterrows()]


# Calculate total operating expenses

operating_cash_flows["total_operating_expenses"] = income_statement["Total Expenses"]


# Calculate net cash flow from operations

operating_cash_flows["Net_Cash_Flow_From_Operations"] = [row["cash_collections"] - row["payments_for_purchases"] - row["total_operating_expenses"] - income_statement["Interest"][i] - income_statement["Income Taxes"][i] for i, row in operating_cash_flows.iterrows()]

operating_cash_flows

,change_in_AR,cash_collections,change_in_inventory,change_in_current_liabilities,payments_for_purchases,total_operating_expenses,Net_Cash_Flow_From_Operations
Year,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,43000,NaN
2,5000.0,195000.0,2000.0,NaN,152000.0,43001,-653.0
3,5000.0,195000.0,-2000.0,NaN,148000.0,43002,3344.0

In [15]:
# Methodology

# First tried creating dataframes for each financial statement and each section of cash flow statement;
# It might be a better idea to just combine all data into one large dataframe and just keep adding columns

type(operating_cash_flows["cash_collections"])

pandas.core.series.Series

In [16]:
operating_cash_flows

,change_in_AR,cash_collections,change_in_inventory,change_in_AP,payments_for_purchases,Net_Cash_Flow_From_Operations
Year,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN
2,5000.0,195000.0,2000.0,NaN,152000.0,NaN
3,5000.0,195000.0,-2000.0,NaN,148000.0,NaN

In [27]:
income_statement["Total Expenses"]

Year
1    43000
2    43001
3    43002
Name: Total Expenses, dtype: int64